<div>
    <div>
        <h1>Happening Now</h1>
        <h2>Join Today.</h2>
        <div>
            <%= button_to "Sign in with Google", new_user_session_path, method: :get %>
        </div>

        <%= button_to "Sign Up with Apple", new_user_registration_path, method: :get %>
        <p>or</p>
        <%= button_to "Create Account", new_user_registration_path, method: :get%>
        <p>By Signing Up you agree to the Terms Of Service and Privacy Policy, including Cookie Use.</p>
        <p>Already have an account?</p>
        <%=button_to "Sign In", new_user_session_path, method: :get%>
    </div>
</div>
