<h1>Form to allow a user to sign up</h1>
<div class = " flex flex-col justify center bg-gray-900 text-white">
    <div>
        <img src = "", alt = "Twitter logo">
        <h2>Sign in to your account</h2>
    </div>
    <div>
        <form>
            <div>
                <label>Email Address</label>
                <input type = "text", name = "email", id = "email", required />
            </div>
            <div>
                <label>Password</label>
                <input type= "text", name = "password", id = "password" required/>
            </div>
            <div>
                <input type = "submit", value = "Sign in">
            </div>
            <div>
                <button>Forgot Password</button>
            </div>
            <div>
                <p>Don't have an account? <a href = "">Sign Up<a></p>
            </div>
            <div>
                <p>Or continue with</p>
                <button>
                    <img src="google-logo.img", alt = "Google logo">
                    <p>Google</p>
                </button>
                <button>
                    <img src="github-logo.img", alt = "Github logo">
                    <p>Github</p>
                </button>
            </div>
        </form>
    </div>
</div>